extends layout
//- layout isko import kar lega.

block content
    h1=title
    //-  yahan title variable hai, but kisi string me nahi dala, isliye seedhe key ki value chali jayegi isme i.e. value of title passed.
    p Welcome to #{title}
    //- title is a variable aur kisi string me hai,is liye aise likha hai