doctype html 
html 
    head 
        title=title 
        link(rel='stylesheet', href='/stylesheet/style.css')
    body
        block content
        //- block content index.jade se import hoga, basically block content function gets called here.
